

#chooseButton{
  display: flex; 
  display: inline; 
  
 
}

#selectcourse{
 display: flex;
 display:inline;
  
}

#list{
  display: flex;
  display:inline;
 
  
   
 }

 h3 {
   display: inline-block;
 }

 .date{
   display: inline-block;
   text-align: right;
   position: absolute;
   right: 5px;
   font-size: 100%;
 }

 
.seatContainer{
   display:flex; 
   justify-content: center;
  
   margin: auto;
   width: 75%;
  /* border-left: 1rem;
  border-right: 35rem; 
  margin-left: 20rem;
  margin-right:20rem; */
  flex-wrap: wrap-reverse;
  
   
 }

 #seatList{
   display: flex;
   flex-wrap: wrap;

   border-collapse: collapse;
   border:2px solid black;
   
   font-size: 24px;
   border-radius: 10px;
   display: flex;
   padding: 5px 5px 5px 5px;
   
   
 }

 .seat{
   margin: 5px;
   width: 32px;
   height: 32px;
   background-color: #807e80;
   padding: 1px;
   /* border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;  */
 }
  .seat.selected{
    background-color: limegreen;
  
 }

 .seat.forbidden{
   background-color: darkred;
 }
  /* p {
  display: flex;
  margin-left: 2rem;
  margin-right: 8rem;

} */

 .seat:hover{
   background-color: rgb(47, 48, 48);
 }

 .seat.selected:hover{
   background-color: green;
 }

 .seat.forbidden:hover{
  background-color: #6f0000;
}
 /* #seat:nth-of-type(7){
  margin-left: 18px;
}   */

 .desk_text{
   text-align: center;
   font-family: Verdana, sans-serif;
   font-weight: bold;
 }



.desk{
  background-color: #7DD4BE;
  height: 50px;
  width: 70px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5%;
  
  /* transform: rotateX(-45deg); */
  /* box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7); */
}
#screen{
  display: flex;
  margin: auto;
  /* margin-bottom: 40px;
  margin-right: 500px;
  margin-left: 500px; */
  /* -webkit-box-shadow:inset 0px 0px 0px 10px rgb(74, 71, 71);
    -moz-box-shadow:inset 0px 0px 0px 10px rgb(91, 91, 91);
    box-shadow:inset 0px 0px 0px 10px #5e5d5d; */

}


/* Style for containers */

.seatBoxContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 685px;
  max-width: 685px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;
}

.leftContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  margin-right: 2rem;
}

.rightContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  margin-left: 2rem;
}

/* Column test (for LAB classroom) */

/* .singleCol{
  display: flex;
  flex-wrap: wrap;
  min-width: 35px;
  max-width: 35px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  /* margin-left: 2rem; */


/* .doubleCol{
  display: flex;
  flex-wrap: wrap;
  min-width: 85px;
  max-width: 85px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  /* margin-left: 2rem; */ 
 

/* .singleColLEFT{
  display: flex;
  flex-wrap: wrap;
  min-width: 35px;
  max-width: 35px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  /* margin-left: 2rem; */


/* .doubleColLEFT{
  display: flex;
  flex-wrap: wrap;
  min-width: 85px;
  max-width: 85px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  /* margin-left: 2rem; */


