#chooseButton{
  display: flex; 
  display: inline; 
  
 
}

#selectcourse{
 display: flex;
  
}


#list{
  display: flex;
  display:inline;
 
  
   
 }

 
#demo{
   display:flex; 
  
  border-left: 1rem;
  border-right: 35rem; 
  margin-left: 20rem;
  margin-right:20rem;
  flex-wrap: wrap-reverse;
  
   
 }

 #seatList{
   display: flex;
   flex-wrap: wrap;
   
 }

 #seat{
   margin: 5px 5px 5px 5px;
   width: 20px;
   height: 20px;
   background-color: #807e80;
  
 }
  p {
  display: flex;
  margin-left: 2rem;
  margin-right: 8rem;

}

 #seat:hover{
   background-color: rgb(47, 48, 48);
 }

/* #seat:nth-of-type(7){
  margin-left: 18px;
}  */

