#textarea{
    height: 300px;
    width: 500px;
}
#namefile{
    margin-left: 20px;

}

#sxolia{
    height: 200px;
    width: 200px;
     border: solid;
    float:left;
    margin: 20px; 
} 

#sxolia1{
     float:left;
    margin: 20px;
} 

#check{
 margin-top: 400px;
}

#delete{
    margin: 10px;
}

#submit{
    margin: 10px;
}

