h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

div {
    margin: 0;
    padding: 0;
    display: flex;
}

#content {
    justify-content: space-around;
}

#sendEmail, #receiveEmail {
    flex-direction: column;
}

input {
    width: 15em;
}

textarea {
    width: 25em;
    height: 15em;
    resize: none;
}

button {
    width: 15em;
    height: 2.5rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
}

li {
    margin: 0 0 0.5em 0;
    text-align: left;
}