body {
    margin: 0;
}

img {
    width: 300px;
    height: 50px;
    margin: 0;
    display: block;
}

ul {
    width: 60px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    cursor: pointer;
    padding: 10px 0;
    margin: 10px 0 0;
}

iframe {
    width: 950px;
    height: 550px;
    border: solid black;
}

#menu {
    top: 70px;
    margin: 10px 80px;
}

#content {
    top: 90px;
    margin: 10px 0 0 250px;
}

#menu, #content {
    width: min-content;
    height: min-content;
    display: inline-block;
    position: absolute;
}