* {
    box-sizing: border-box;
}


body {
    background-color: rgb(36, 35, 51);
    display:flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Open Sans','sans-serif';
}

.select {
    padding: 0.5rem 1rem;
    color: #333333;
    background-color: #fff;
    border: 0.1rem solid #dddd;
    cursor: pointer;
    border-radius: 0.4rem;

}

.select:focus , .select:hover {
    outline: none;
    border: 0.1rem solid #bbbbbb;
}

.select option {
    color: #333333;
}
.seat {
    background-color: #444445;
    height:3rem;
    width:3rem;
    margin: 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; 

}


.row {
    display: flex;
}

.seat.selected{
    background-color: green;
}

.seat.occupied{
    background-color: yellow;
}

.seat.forbidden{
    background-color: red;
}


.seat:nth-of-type(8){
    margin-right: 5rem;
}

.seat:not(.occupied , .forbidden):hover {
    cursor:pointer;
    transform: scale(1.2);
}

.showcase .seat.seat:not(.occupied , .forbidden):hover{
    cursor:default;
    transform: scale(1);
}

.showcase{
    background-color: rgba(0,0,0,0.1);
    padding:5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
} 


.teacherSeat{
    background-color: #c4b8a3;
    height: 7rem;
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url('mydesk.jpeg');
    
    
}
    
/*TODO: add later to:  .teacherText {
   

} */
p.text {
    margin: 1rem;
}
    
p.text span {
    color: green;
}