* {
  font-family: "Open Sans", sans-serif;
}

.chart {
  
  margin-left: 5rem;
  padding-right: 3rem;
  padding-left: 3rem;
  display: inline-block;
}

.chartContainer {
  margin: auto;

  padding-top: 1rem;
  margin-bottom: 1.5rem;

  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.2);
}

#btn {
  max-width: 650px;
  margin: 35px auto;
}

h1,
h2,
h3,
h4,
h5{
  font-family: "Nunito", sans-serif;
}

h5 {
  text-align: center !important; 
  font-size: 24px;
  font-weight: 700;
  color: #366c77;
}

#select-card-body{
  display: flex;
  justify-content: center;
}

#card-div{
  left: 25%;
}

.subject {
  border-radius: 0.6rem;
  display: block;
  text-align: center;
}

.select {
  cursor: pointer;
  font-size: 1rem;
  border-radius: .25rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 500;
  border: none;
  text-decoration: none;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-right: 4rem;
  padding-left: 1rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  border-radius: 4rem;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease 0s;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);

  color: #ffffff;
  background-color: #366c77;
}

.select:hover {

  background-color: #3996a9;
  cursor: pointer;

  transition: 0.50s all ease;
}

select option[disabled="disabled"][selected="selected"] {
  display: none;
}

.select {

  border-radius: 0.5rem;
  margin-top: 0.1px;

}

#main {
  position: relative;
  left: 15%;
  margin: auto;
  margin-top: 3rem !important;

  padding-top: 1rem;
  margin-bottom: 1.5rem;

  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.2);
}
