* {
  font-family: "Open Sans", sans-serif;
}

/* 
#header {
  text-align: center;
} */

.card.card-div {
  position: static;
}

#selections-div {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn-group{
  margin-bottom: 1em!important;
}

/* h1{
     margin-bottom: 1.5rem;
 } */

th, td, .dropdown-selection{
  width: 14em;
}

tbody > tr > th, tbody > tr > td{
  height: 4.1em;
  text-align: center;
  vertical-align: middle;
}


table thead tr {
  text-align: left;
  font-weight: bold;
}





.table tr:nth-of-type(even) {
  background-color: #dbd7d71e;

}



.table tr {
  transition-duration: 0.8s;
  transition-delay: 100ms;
}


.table tr:hover {
  background-color: rgba(160, 160, 163, 0.534);

}

.card-body {
  margin-top: -1rem;
  margin-left: -1rem;
  padding: 1rem 1rem !important;
  padding-right: 0rem !important;
  height: 3.5rem;
}

.dropdown-selection {
  border: none;
}