body { 
    margin: 0;
    padding: 0;
}

h1 { 
    text-align: center;
}

#head {
    display: flex;
    flex-direction: column;
}

#refresh {
    width: 100px;
    height: 50px;
    margin-left: 45%;
}

#content {
    display: flex;
    justify-content: space-around;
}

.anouncement-list {
    border: 3px solid black;
    width: min-content;
    height: min-content;
    padding: 0;
    margin: auto;
    flex-direction: column;
    list-style-type: none;
}