* {
    font-family: "Open Sans", sans-serif;
}

#header {
    text-align: center;
}

.card.card-div {
    position: static;
}

#selections-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}