body {
    margin: 0;
    padding: 0;
    cursor: default;
}

h1 {
    text-align: center;
}

#content {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

#create-div {
    display: flex;
    flex-direction: column;
}


#anouncement-title {
    width: 200px;
    height: 15px;
}

textarea {
    width: 300px;
    height: 150px;
    resize: none;
}

#anouncement-list {
    border: 3px solid black;
    width: min-content;
    height: min-content;
    padding: 0;
    margin: auto;
    flex-direction: column;
    list-style-type: none;
}

li {
    margin: 1%;
    border: solid black;
    padding: 2%;
    text-align: center;
}


.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title {
    padding: 20px 0 15px 0;
    font-size: 30px;
    font-weight: 600;
    color: #366c77;
    font-family: "Poppins", sans-serif;
}

.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}

.card-body {
    padding: 0 20px 20px 20px;
}

.card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
}