

#selectBtn{
   margin-left: 52.5rem;
  font-size:1rem;
  text-transform: uppercase;
  
  letter-spacing: 0.2rem;
  font-weight: 500;
  border:none;
  text-decoration: none;
  padding:0.5rem 2rem;
  background: rgb(168, 168, 165);
  margin-top:1.5rem;
  color:white;
  border-radius: 4rem;
  cursor:pointer;
  outline:none;
  transition: all 0.3s ease 0s;
  box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.1);
  background: #158d5d91;
  color: #ffffff;
  
  
}



#selectBtn:hover {
  background-color: #03c07591;
  box-shadow: 0rem 1rem 1.4rem #0ae48d50;
  color:rgb(255, 255, 255);
  transform:translateY(-0.5rem);
}

#selectBtn:active{
  transform:translateY(-0.05rem);
  background-color: #07db86;
}


.subjectBtns{
  
  font-size:1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 500;
  border:none;
  text-decoration: none;
  padding:0.5rem 1rem;
  background: rgb(168, 168, 165);
  margin-top:1.5rem;
  margin-bottom: 1.2rem;
  margin-left:2rem;
  color:white;
  border-radius: 4rem;
  cursor:pointer;
  outline:none;
  transition: all 0.3s ease 0s;
  box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.1);
  background: #158d5d91;
  color: #ffffff;
}
.subjectBtns:hover {
  background-color: #03c07591;
  box-shadow: 0rem 1rem 1.4rem #0ae48d50;
  color:rgb(255, 255, 255);
  
}

.subjectBtns:active{
  
  background-color: #07db86;
}

.selectCourse{
 
  font-size:1rem;
  text-transform: uppercase;
  
  letter-spacing: 0.2rem;
  font-weight: 500;
  border:none;
  text-decoration: none;
  padding:0.5rem 2rem;
  background: rgb(168, 168, 165);
  margin-top:1.5rem;
  color:white;
  border-radius: 4rem;
  cursor:default;
  outline:none;
  transition: all 0.3s ease 0s;
  box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.1);
  background:#dce2f1;
  color: #ffffff;
  
}

#list{
  display: flex;
  display:inline;
 
  
   
 }

 .seat.granted{
  background-color: #05f79691;

}


  
 .seat.occupied{
   background-color: rgba(175, 118, 12, 0.685);
   cursor: default;
 }

 .seat.granted:hover{
  background-color: #17e99591;
}



.seat.occupied:hover{
  background-color: rgba(158, 48, 8, 0.589);
  cursor:default;
}

 h3 {
   display: inline-block;
 }

 .date{
   display: inline-block;
   text-align: right;
   position: absolute;
   right: 5px;
   font-size: 100%;
 }

 
.seatContainer{
   display:flex; 
   justify-content: center;
  
   margin: auto;
   width: 75%;
  /* border-left: 1rem;
  border-right: 35rem; 
  margin-left: 20rem;
  margin-right:20rem; */
  flex-wrap: wrap-reverse;
  
   
 }

 #seatList{
   display: flex;
   flex-wrap: wrap;

   border-collapse: collapse;
   border:2px solid black;
   
   font-size: 24px;
   border-radius: 10px;
   display: flex;
   padding: 5px 5px 5px 5px;
   
   
 }

 .seat{
   margin: 5px;
   width: 32px;
   height: 32px;
   background-color: #bcc6da;
   padding: 1px;
   border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; 
   /* border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;  */
   cursor: pointer;
 }
  .seat.selected{
    background-color: #158d5d91;
    
  
 }

 .seat.forbidden{
   background-color: rgb(141, 4, 4);
   cursor:default;
 }
  /* p {
  display: flex;
  margin-left: 2rem;
  margin-right: 8rem;

} */

 .seat:hover{
   background-color: rgb(221, 228, 228);
 }

 .seat.selected:hover{
   background-color: #09b470c7;
 }

 .seat.forbidden:hover{
  background-color: #9c060683;
  cursor:default;
  
}


 /* #seat:nth-of-type(7){
  margin-left: 18px;
}   */

 .desk_text{
   text-align: center;
   font-family: Verdana, sans-serif;
   font-weight: bold;
 }



.desk{
  background-color: #158d5d91;
  height: 50px;
  width: 70px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5%;
  
  /* transform: rotateX(-45deg); */
  /* box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7); */
}
#screen{
  display: flex;
  margin: auto;
  /* margin-bottom: 40px;
  margin-right: 500px;
  margin-left: 500px; */
  /* -webkit-box-shadow:inset 0px 0px 0px 10px rgb(74, 71, 71);
    -moz-box-shadow:inset 0px 0px 0px 10px rgb(91, 91, 91);
    box-shadow:inset 0px 0px 0px 10px #5e5d5d; */

}


/* Style for containers */

.seatBoxContainer{
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 750px;
  max-width: 750px;

  border-collapse: collapse;
  border:2px solid black;
   /* font-size: 24px;
  border-radius: 10px;
  padding: 5px; */
  font-size: 40px;
  border-radius: 20px;
  padding: 10px;
}

.seatBoxContainer.filled{
  display: flex;
}


.leftContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-collapse: collapse;
  border:2px solid black;
   /* font-size: 24px;
  border-radius: 10px;
  padding: 5px; */
  font: size 40px;
  border-radius: 20px;
  padding: 10px;

  margin-right: 2rem;
}

.rightContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-collapse: collapse;
  border:2px solid black;
  /* font-size: 24px;
  border-radius: 10px;
  padding: 5px; */
  font-size: 40px;
  border-radius: 20px;
  padding: 10px;

  margin-left: 2rem;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: hsl(126, 38%, 95%);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid hsl(169, 74%, 46%);
  width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.chbtn{
color:hsl(169, 74%, 46%); 

  
  width: 60px;
  height: 20px;


}


.desk_text{
  color:white;
}
  
.date{
  font-size:2rem;
  
  letter-spacing: 0.05rem;
  font-weight: 900;
  border:none;
  text-decoration: underline;
  padding:0.5rem 2rem;
 
  margin-top:1.5rem;
  color:white;
  border-radius: 0.5rem;
  cursor:default;
  outline:none;
  color:#066b4391;
}
  
.h3Subject{
  font-size:2rem;
  
  letter-spacing: 0.05rem;
  font-weight: 900;
  border:none;
  text-decoration: underline;
  padding:0.5rem 2rem;
 
  margin-top:1.5rem;
  color:white;
  border-radius: 0.5rem;
  cursor:default;
  outline:none;
  
  
  color:#066b4391;
}
/* 
.chbtnNo{
 
 
  width: 60px;
  height: 20px;

} */

/* Column test (for LAB classroom) */

/* .singleCol{
  display: flex;
  flex-wrap: wrap;
  min-width: 35px;
  max-width: 35px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  /* margin-left: 2rem; */


/* .doubleCol{
  display: flex;
  flex-wrap: wrap;
  min-width: 85px;
  max-width: 85px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  /* margin-left: 2rem; */ 
 

/* .singleColLEFT{
  display: flex;
  flex-wrap: wrap;
  min-width: 35px;
  max-width: 35px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  /* margin-left: 2rem; */


/* .doubleColLEFT{
  display: flex;
  flex-wrap: wrap;
  min-width: 85px;
  max-width: 85px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  /* margin-left: 2rem; */


