

#chooseButton{
  display: flex; 
  display: inline; 
}

.selectCourse{
  display: flex;
  border: 2px solid black;;
  padding: 1rem;
  
}

#list{
  display: flex;
  display:inline;
 
  
   
 }

 h3 {
   display: inline-block;
 }

 .date{
   display: inline-block;
   text-align: right;
   position: absolute;
   right: 5px;
   font-size: 100%;
 }

 
.seatContainer{
   display:flex; 
   justify-content: center;
  
   margin: auto;
   width: 75%;
  /* border-left: 1rem;
  border-right: 35rem; 
  margin-left: 20rem;
  margin-right:20rem; */
  flex-wrap: wrap-reverse;
  
   
 }

 #seatList{
   display: flex;
   flex-wrap: wrap;

   border-collapse: collapse;
   border:2px solid black;
   
   font-size: 24px;
   border-radius: 10px;
   display: flex;
   padding: 5px 5px 5px 5px;
   
   
 }

 .seat{
   margin: 5px;
   width: 32px;
   height: 32px;
   background-color: #807e80;
   padding: 1px;
   /* border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;  */
 }
  .seat.selected{
    background-color: limegreen;
  
 }

 .seat.forbidden{
   background-color: darkred;
 }
  /* p {
  display: flex;
  margin-left: 2rem;
  margin-right: 8rem;

} */

 .seat:hover{
   background-color: rgb(47, 48, 48);
 }

 .seat.selected:hover{
   background-color: green;
 }

 .seat.forbidden:hover{
  background-color: #6f0000;
}
 /* #seat:nth-of-type(7){
  margin-left: 18px;
}   */

 .desk_text{
   text-align: center;
   font-family: Verdana, sans-serif;
   font-weight: bold;
 }



.desk{
  background-color: #7DD4BE;
  height: 50px;
  width: 70px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5%;
  
  /* transform: rotateX(-45deg); */
  /* box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7); */
}
#screen{
  display: flex;
  margin: auto;
  /* margin-bottom: 40px;
  margin-right: 500px;
  margin-left: 500px; */
  /* -webkit-box-shadow:inset 0px 0px 0px 10px rgb(74, 71, 71);
    -moz-box-shadow:inset 0px 0px 0px 10px rgb(91, 91, 91);
    box-shadow:inset 0px 0px 0px 10px #5e5d5d; */

}


/* Style for containers */

.seatBoxContainer{
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 750px;
  max-width: 750px;

  border-collapse: collapse;
  border:2px solid black;
   /* font-size: 24px;
  border-radius: 10px;
  padding: 5px; */
  font-size: 40px;
  border-radius: 20px;
  padding: 10px;
}

.seatBoxContainer.filled{
  display: flex;
}


.leftContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-collapse: collapse;
  border:2px solid black;
   /* font-size: 24px;
  border-radius: 10px;
  padding: 5px; */
  font: size 40px;
  border-radius: 20px;
  padding: 10px;

  margin-right: 2rem;
}

.rightContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-collapse: collapse;
  border:2px solid black;
  /* font-size: 24px;
  border-radius: 10px;
  padding: 5px; */
  font-size: 40px;
  border-radius: 20px;
  padding: 10px;

  margin-left: 2rem;
}

#selectBtn{
  display: none;
  width: 100px;
  height: 40px;

}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: hsl(126, 38%, 95%);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid hsl(169, 74%, 46%);
  width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.chbtn{
color:hsl(169, 74%, 46%); 

  
  width: 60px;
  height: 20px;


}



/* 
.chbtnNo{
 
 
  width: 60px;
  height: 20px;

} */

/* Column test (for LAB classroom) */

/* .singleCol{
  display: flex;
  flex-wrap: wrap;
  min-width: 35px;
  max-width: 35px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  /* margin-left: 2rem; */


/* .doubleCol{
  display: flex;
  flex-wrap: wrap;
  min-width: 85px;
  max-width: 85px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  /* margin-left: 2rem; */ 
 

/* .singleColLEFT{
  display: flex;
  flex-wrap: wrap;
  min-width: 35px;
  max-width: 35px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  /* margin-left: 2rem; */


/* .doubleColLEFT{
  display: flex;
  flex-wrap: wrap;
  min-width: 85px;
  max-width: 85px;

  border-collapse: collapse;
  border:2px solid black;
  
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;

  /* margin-left: 2rem; */


