* {
    font-family: "Open Sans", sans-serif;
  }

  h1 {
    text-align: center;
    font-size: 350%;
    color: #366c77;
  }

  .card {
  letter-spacing: 0.2rem;
  font-weight: 500;
  border: none;
  text-decoration: none;
  padding: 0.5rem 2rem;
  background: rgb(168, 168, 165);
  margin-top: 1.5rem;
  color: white;
  border-radius: 0.4rem;
  cursor: default;
  outline: none;
  transition: all 0.3s ease 0s;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #dce2f1b4;
  color: #ffffff;
  }