* {
    border-style: border-box;
}



body {
    background-color: white;
    color: white;
    display: flexbox;
    height: 150vh;
    width: 200vh;
    font-family: 'Open Sans', sans-serif;
}

.fileText {
    padding: 0.5rem;
    color: white;
    background-color: white;
    border: 2px solid #dddd;
    cursor: pointer;
    border-radius: 1rem;
    margin-top: 5rem;

}

.fileText::-webkit-file-upload-button {
    visibility: hidden;
}

.labelInput {
    width: 100%;
    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-top: 2rem;
}



.texts {
    display: flex;
    margin-left: 2rem;
    margin-bottom: 5rem;
    color: rgb(32, 37, 66);
}

.texts .altComments {
    margin-top: 4rem;
    margin-left: 2rem;


}



.checkboxContainer {
    margin-left: 2rem;
}

.checkbox {
    display: inline-flex;
    cursor: pointer;
    color: rgb(32, 37, 66);
}

.checkbox__input {
    display: none;
}


.checkbox__box {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #cccccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    transition: background 0.20s, border-color 0.20s;
}


.checkbox__box::after {
    content: "\2714";
    color: white;
    transform: scale(0);
    transition: transform 0.20s;
}


.checkbox__input:checked+.checkbox__box {
    background: #23c483;
    border-color: #23c483;
}


/*!targeting child element of checked box to appear it */
.checkbox__input:checked+.checkbox__box::after {
    transform: scale(1);
}

.sendButton,
.rejectButton,
.fileName {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    border: none;
    text-decoration: none;
    padding: 0.5rem 2rem;
    background: rgb(22, 22, 29);
    margin-top: 1.5rem;
    color: white;
    border-radius: 4rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease 0s;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.sendButton:hover,
.rejectButton:hover,
.fileName:hover {
    background-color: #23c483;
    box-shadow: 0rem 1rem 1.2rem rgba(46, 229, 157, 0.4);
    color: white;
    transform: translateY(-0.5rem);
}


.sendButton:active,
.rejectButton:active,
.filename:active {
    transform: translateY(-0.1rem);
}


.message {
    display: none;
    margin-top: 5rem;
    margin-left: 27.5rem;
    width: 40%;
    height: 2rem;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    border-style: ridge;
    border-color: #23c483;
    text-decoration: none;
    padding: 0.5rem 2rem;
    background: rgb(22, 22, 29);
    color: white;
    border-radius: 4rem;
    outline: none;
}

.badMessage {
    display: none;
    margin-top: 5rem;
    margin-left: 27.5rem;
    width: 40%;
    height: 2rem;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    border-style: ridge;
    border-color: #e00606;
    text-decoration: none;
    padding: 0.5rem 2rem;
    background: rgb(22, 22, 29);
    color: white;
    border-radius: 4rem;
    outline: none;
}

.back {
    transform: translateX(70%);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    border: none;
    text-decoration: none;
    padding: 0.5rem 2rem;
    background: rgb(22, 22, 29);
    margin-top: 1.5rem;
    color: white;
    border-radius: 4rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease 0s;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


.back:hover {
    background-color: #23c483;
    box-shadow: 0rem 1rem 1.2rem rgba(46, 229, 157, 0.4);
    color: white;

}

.btn.btn-primary {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    border: none;
    text-decoration: none;
    padding: 0.5rem 2rem;
    margin-left: -0.8rem;
    margin-top: 1.5rem;
    color: white;
    border-radius: 4rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease 0s;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background: #366c77;
    color: #ffffff;

}


.btn.btn-primary:hover {
    background-color: #3996a9;
    box-shadow: 0rem 0.7rem 1.2rem #3996a9;
    color: rgb(255, 255, 255);
    transform: translateY(-0.3rem);
}

.btn.btn-primary:active {
    transform: translateY(-0.1rem);
    background-color: #2da8c0;
}