html {
    font-family: "Open Sans", sans-serif;
}

.toggle {

    position: absolute;
    display: block;
    width: 5rem;
    height: 2rem;



    cursor: pointer;
    transform: translate(-5rem, 0.7rem);
    border-radius: 1rem;
    background-color: #bdc2ca6b;
}

.toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;

    border-radius: 50%;
    transform: scale(0.9);

    transition: 0.3s linear;
    width: 1.8rem;
    height: 1.8rem;
    transform: translate(0.2rem, 0.1rem);

}


.toggle.active .indicator {

    left: 2.85rem;
    transition: 0.3s linear;





}




iframe.active,
body.active,
header.active,
footer.active,
main.active,
aside.active {

    background-color: rgb(24, 26, 27);
}

footer.active .copyright {
    color: #5ab6c9;
}

header.active .toggle-sidebar-btn {
    color: #5ab6c9;
}



.toggle.active {
    background-color: rbga(66, 63, 63, 0.52);


}



.indicator {
    transform: translate(-3rem, -5rem);

}

main div h1.active {
    color: #5ab6c9;
}


iframe.active body.active h1,
.header-nav .nav-icon,
h2.active,
h3.active,
h4.active,
h5.active,
h6.active {
    color: #5ab6c9;

}

.nav-link.nav-profile.d-flex.align-items-center.pe-0.active {
    color: #5ab6c9;
}

.nav-item.dropdown.active {
    color: #5ab6c9;
}


#asideElem.active {
    color: #5ab6c9;

}

#searchField.search.active {
    color: #5ab6c9;
    background-color: rgb(24, 26, 27);

}


.btn.btn-primary,
.btn.btn-danger {
    font-size: 1rem;

    letter-spacing: 0.2rem;
    font-weight: 500;
    border: none;
    text-decoration: none;
    padding: 0.5rem 2rem;
    background: rgb(168, 168, 165);
    margin-top: 1.5rem;
    color: white;
    border-radius: 4rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease 0s;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background: #366c77;
    color: #ffffff;

}

.btn.btn-danger {
    background-color: #cf0f0f;
    color: #ffffff;
}

.btn.btn-danger:hover {
    background-color: #dd1313;
    box-shadow: 0rem 0.7rem 1.2rem #962e2e;
    color: rgb(255, 255, 255);
    transform: translateY(-0.2rem);
}

;

.btn.btn-danger:active {
    transform: translateY(-0.1rem);
    background-color: #f10707;

}

.btn.btn-primary:hover {
    background-color: #3996a9;
    box-shadow: 0rem 0.7rem 1.2rem #3996a9;
    color: rgb(255, 255, 255);
    transform: translateY(-0.2rem);
}

.btn.btn-primary:active {
    transform: translateY(-0.1rem);
    background-color: #2da8c0;
}

#searchField {
    border-color: #366c77;
}