body {
    margin: 0;
}

#top-content {
    justify-content: space-between;
    display: flex;
}

#notifications-profile {
    margin-right: .5%;
    width: 5%;
    display: inline-flex;
}

#notification-icon, #profile-icon {
    cursor: pointer;
}

#notification-icon {
    margin: auto;
    width: 2.2em;
    height: 2.2em;
    justify-content: flex-start;
}

#profile-icon {
    margin: auto;
    width: 2.5em;
    height: 2.5em;
    justify-content: flex-end;
}

#logo {
    width: 18rem;
    height: 3rem;
    margin: 0;
    display: inline-flex;
}

#menu-options {
    width: 6em;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-menu-option, .temp-button {
    cursor: pointer;
}

.list-menu-option {
    margin: 0 0 30%;
    text-align: center;
}

#html-frame {
    width: 90rem;
    height: 50rem;
    border: solid black;
}

#menu {
    top: 10%;
    margin: 1% 7%;
}

#content {
    top: 10%;
    margin: 1rem 0 0 20rem;
}

#menu, #content {
    width: min-content;
    height: min-content;
    display: inline-block;
    position: absolute;
}