* {
    border-style: border-box;
}



body {




    height: 40rem;
    font-family: 'Open Sans', sans-serif;

}

.card {
    margin-bottom: 30px;
    margin: auto;
    border: none;
    border-radius: 0.8rem;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    width: 80%;
    height: 120%;
    background-color: white;

}




.btn.btn-primary {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    border: none;
    text-decoration: none;
    padding: 0.5rem 6.6rem 0.5rem 0.5rem;
    margin-left: -0.8rem;
    margin-top: 1.5rem;
    color: white;
    border-radius: 0.8rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease 0s;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background: #366c77;
    color: #ffffff;

}

.btn.btn-primary:hover {
    background-color: #3996a9;
    box-shadow: 0rem 0.5rem 0.9rem #3996a9;
    color: rgb(255, 255, 255);
    transform: translateY(-0.3rem);
}

.btn.btn-primary:active {
    transform: translateY(-0.1rem);
    background-color: #2da8c0;
}

.form-control {
    resize: none;
    border-radius: 0.7rem;
}




.card-header,
.card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title {
    padding: 20px 0 15px 0;
    font-size: 30px;
    font-weight: 600;
    color: #366c77;
    font-family: "Poppins", sans-serif;
}

.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}

.card-body {
    padding: 0 20px 20px 20px;
}

.card-img-overlay {
    background-color: rgba(255, 246, 246, 0.103);
}


.show-teacher {

    font-weight: 700;

}

.anouncement-list {
    background-color: red;
}



.container {
    display: flex;
    justify-content: center;
    height: auto;
    margin: 0;


    letter-spacing: 0.07rem;
    border: none;
    text-decoration: none;
    padding: auto;
    border-radius: 0.8rem;
    margin-bottom: -3rem;
    outline: none;
    transition: all 0.3s ease 0s;
    box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.1);
    background: #f6f9ff2d;
    color: #444444;
}



.container:hover {
    background: #dce2f13b;
}