* {
  font-family: "Open Sans", sans-serif;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

/* Card */
.card {
  left: 50%;
  width: 100%;
  margin: auto;
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 30px;
  font-weight: 600;
  color: #366c77;
  font-family: "Poppins", sans-serif;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

.btn.btn-primary {
  border-radius: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 500;
  border: none;
  text-decoration: none;
  padding: 0.5rem 2rem;
  background: rgb(168, 168, 165);
  margin-top: 1.5rem;
  color: white;
  border-radius: 4rem;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease 0s;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #366c77;
  color: #ffffff;

}

.btn.btn-primary:hover {
  background-color: #3996a9;
  box-shadow: 0rem 0.6rem 1.2rem #3fa8bd9d;
  color: rgb(255, 255, 255);
  transform: translateY(-0.30rem);
}

.btn.btn-primary:active {
  transform: translateY(-0.1rem);
  background-color: #2da8c0;
}

.form-control1 {
  width: 700px;
  height: 150px;

  background-color: rgba(234, 234, 238, 0.541);
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid transparent;
  outline: none;

  resize: none;
}

.form-control1:hover {
  cursor: pointer;
  background-color: rgba(210, 210, 218, 0.514);
}

.form-control {
  width: 90%;

  resize: none;
  border-radius: 0.7rem;

}

@media print {
  #printPageButton, #li-card-body {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

h2,
h4,
h5 {
  text-align: center;
}
