:root {
    scroll-behavior: smooth;
  }
  
body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
    display: flex;
   justify-content: center;
   align-items: center;
   
  }
  

  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
  }
  
  h2,h4{
    text-align: center;
  }
  
 

  h3{
      margin-top: 3rem;
    }

.contact .php-email-form input, .contact .php-email-form textarea {
    box-shadow: none;
}
.contact .php-email-form input {
    padding: 10px 15px;
}
.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

.form-control {
    color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
    border-color: rgb(60, 65, 68);
}
.form-control {
    display: block;
    width: 10%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .40s ease-in-out,box-shadow .45s ease-in-out;
    
    
    
    
}
.form-control::selection {
    background-color: #004daa !important; 
     color: #e8e6e3 !important;

}


textarea{
    display: block;
    width: 30%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .40s ease-in-out,box-shadow .45s ease-in-out;
    resize: none;
}

input[type=text], input[type=date] ,input[type=number] {
    display: block;
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .40s ease-in-out,box-shadow .45s ease-in-out;
}


.submitBtn{
    font-size:1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    border:none;
    text-decoration: none;
    padding:0.5rem 2rem;
    background: rgb(168, 168, 165);
    margin-top:1.5rem;
    color:white;
    border-radius: 4rem;
    cursor:pointer;
    outline:none;
    transition: all 0.3s ease 0s;
    box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.1);
    background: #158d5d91;
    color: #ffffff;
    
}

  
.submitBtn:hover {
    background-color: #03c07591;
    box-shadow: 0rem 1rem 1.4rem #0ae48d50;
    color:rgb(255, 255, 255);
    transform:translateY(-0.5rem);
}

.submitBtn:active{
    transform:translateY(-0.05rem);
    background-color: #07db86;
}



/* .checkboxContainer{
    margin-left: 0.5rem;
    background-color: green;
    padding:1rem;
    margin-bottom: 1rem;
    height:10%;
}

.checkbox{
    display:inline-flex;
    cursor:pointer;
    color:rgb(32, 37, 66);
}

.checkbox__input{
    display:none;
}


.checkbox__box{
    width:0.8rem;
    height:0.8rem;
    border:2px solid #cccccc;
    border-radius: 3px;
    display:flex;
    align-items:center;
    justify-content: center;
   
    margin-right: 1rem;
    
    transition: background 0.20s, border-color 0.20s;
}


.checkbox__box::after{
    content:"\2714";
    color:white;
    transform: scale(0);
    transition: transform 0.20s;
}


.checkbox__input:checked ~ .checkbox__box{
    background:#23c483;
    border-color: #23c483;
}

.checkbox__input:checked ~ .checkbox__box::after{
    transform: scale(1);
} */


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  
}




input[type=date]{
    width: 10%;
}

input[type=checkbox]{
    margin-left: 0.5rem;
    margin-bottom:  0.5rem;
    width: 2rem;
}

hr{
    color:#158d5d91;
}

li{
    font-weight: 500;
}

p {
    font-weight: 600;
}


p > input[type=text]{
    margin:1rem;
}



.range{
  height: 80px;
  width: 380px;
  background: #ffffffce;
  border-radius: 0.5rem;
  padding: 0 65px 0 45px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0);
  margin-left: 1.5rem;
  margin-top:1rem;
}
.sliderValue{
  position: relative;
  width: 100%;
}
.sliderValue span{
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -40px;
  left:-500px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}
.sliderValue span.show{
  transform: translateX(-70%) scale(1);
}
.sliderValue span:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #158d5d91;
  border: 3px solid #fff;
  z-index: -1;
  left: 15%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.field{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.field .value{
  position: absolute;
  font-size: 18px;
  color: #158d5d91;
  font-weight: 600;
}
.field .value.left{
  left: -22px;
}
.field .value.right{
  right: -43px;
}
.range input{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}
.range input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  background: #158d5d91;
  border: 1px solid #158d5d91;
  cursor: pointer;
}
.range input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #158d5d91;
  border: 1px solid #158d5d91;
  cursor: pointer;
}
.range input::-moz-range-progress{
  background: #158d5d91; 
}


th, td {
    padding-right: 0.8rem;
    padding-bottom: 0.8rem;
  }